<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <servlet>
      <servlet-name>TicTacToe</servlet-name>
      <servlet-class>app.StartServlet</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>Board</servlet-name>
      <servlet-class>app.BoardServlet</servlet-class>
   </servlet>
 
   <servlet-mapping>
      <servlet-name>TicTacToe</servlet-name>
      <url-pattern>/start</url-pattern>
   </servlet-mapping>
 
   <servlet-mapping>
      <servlet-name>Board</servlet-name>
      <url-pattern>/board</url-pattern>
   </servlet-mapping>
</web-app>